.root {
    -fx-base: #1d1d1d;
}

Label {
    -fx-font-family: Lucida;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

Text {
    -fx-font-size: 20;
    -fx-fill: lightgreen;
}

Text.banner {
    -fx-font-size: 40;
    -fx-fill: linear-gradient(to top, limegreen, white);
}

.error {
    -fx-fill: orange;
}
